.datepicker {
    &-input {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        max-width: 220px;

        input {
            border-radius: 2px;
            border: 2px solid rgb(78, 78, 78);
            padding: 10px 34px 10px 10px;
            font-size: 1.25rem;
            cursor: pointer;
            width: 100%;
            outline: 0;

            [data-open="true"] & {
                border-color: rgb(43, 111, 238);
            }

            [data-open="true"] & + .fas {
                color: rgb(43, 111, 238);
            }
        }

        .fas {
            position: absolute;
            right: 10px;
        }
    }
}